<form [formGroup]="createTask" (ngSubmit)="handleTask()">
  <label for="" class="pb-2 pt-1">Title</label>
  <input
    z-input
    type="text"
    placeholder="title of task"
    formControlName="taskTitle"
    zSize="lg"
    class="text-secondary-foreground text-sm"
  />
  @if (createTask.get('taskTitle')?.touched && createTask.get('taskTitle')?.invalid) {
    @if (createTask.get('taskTitle')?.errors?.['required']) {
      <span class="text-destructive"> task title is required</span>
    } @else if (
      createTask.get('taskTitle')?.errors?.['minlength'] ||
      createTask.get('taskTitle')?.errors?.['maxlength']
    ) {
      <span class="text-destructive">title can be of 2-50 characters</span>
    }
  }

  <label for="" class="pb-2 pt-1">Description</label>
  <textarea
    z-input
    rows="5"
    placeholder="description of workspace"
    formControlName="description"
    class="w-full text-secondary-foreground"
  ></textarea>

  @if (createTask.get('description')?.errors?.['maxlength']) {
    <span class="text-destructive">description can be of 255 characters</span>
  }

  <label for="">Project</label>
  <z-select id="project" formControlName="project" placeholder="Select project">
    @for (project of projects; track project.value) {
      <z-select-item [zValue]="project.value">{{ project.label }}</z-select-item>
    }
  </z-select>

  <label for="">Assigned to</label>
  <z-select id="assignedTo" formControlName="assignedTo" placeholder="Select assignedTo">
    @for (assignedTo of members; track assignedTo.value) {
      <z-select-item [zValue]="assignedTo.value">{{ assignedTo.label }}</z-select-item>
    }
  </z-select>
</form>
